/* General Navbar Styling */
.navbar {
  background-color: white; /* Light background color */
  border-radius: 0px 0px 20px 20px !important;
  
}

/* Navbar Brand Styling */
.navbar-brand img {
  width: 160px;
  height: 110px;
  margin-left: 20px;


}

/* Navbar Links Styling */
.nav-link {

  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  font-size: 1.3rem; 
  font-weight: 800;
  color: black; 
  padding: 10px 20px;
  text-decoration: none;
  align-items: center;

}

.nav-link:hover{
  color: chartreuse;
}

.pagers{
  display: flex;
  gap: 10px;
  justify-content: right; 
  margin-top: -50px;
}

/* .navbar-collapse {

} */

/* Responsive adjustments */
@media (max-width: 768px) {
  .navbar-brand,
  .nav-link {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }
}
