
.navbar {
  /* background-color: red;  */
  border-radius: 0px 0px 20px 20px !important;
  
}

.navbar-brand img {
  width: 120px;
  height: 90px;
  margin-left: 21px;

}


.nav-link {

  font-family: "Audiowide", sans-serif; 
  font-size: 1.3rem; 
  font-weight: 500;
  color: white; 
  padding: 10px 20px;
  text-decoration: none;
  align-items: center !important;
  text-align: right !important;
}

.nav-link:hover{
  color: red;
  font-size: 1.4rem; 
  transition: 0.8s;
}

.pagers{
  display: flex;
  gap: 10px;
  justify-content: center; /* Center the nav items horizontally */
  align-items: center; /* Center the nav items vertically */
  margin-top: -60px; /* Adjust the margin if needed */
}




@media (max-width: 768px) {
  .navbar-brand,
  .nav-link {
    font-size: 1rem; 
  }
}
